
html{
            scroll-behavior:smooth;
        }

        body{
            font-family:'Poppins',sans-serif;
        }

        .hero-bg{
            background:
            linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
            url('https://res.cloudinary.com/dt6tjq9d1/image/upload/v1782312748/WhatsApp_Image_2026-06-17_at_12.14.32_AM_igiixm.jpg');
            background-size:cover;
            background-position:center;
        }

#prestasiSlider::-webkit-scrollbar {
        display: none;
    }

    #prestasiSlider {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

.counter {
    transition: transform .3s ease;
}

.counter.done {
    transform: scale(1.15);
}